<div class="app-wrapper">
    <nav class="app-header navbar navbar-expand bg-body">
      <div class="container-fluid">
        <ul class="navbar-nav">
          @for (val of breadcrumb(); track val.routerLink) {
            <li class="nav-item d-flex align-items-center">
              <a [routerLink]="val.routerLink" class="nav-link d-flex align-items-center">
                <span class="material-symbols-outlined">
                  {{val.icon}}
                </span>
                <span>
                  {{val.name}}
                </span>
              </a>
              @if(!$last){
                <span class="nav-item d-none d-md-block"> > </span>
              }
            </li>
          }
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <img
                src="/assets/img/user2-160x160.jpg"
                class="user-image rounded-circle shadow"
                alt="User Image"
              />
              <span class="d-none d-md-inline">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
              <li class="user-header text-bg-primary">
                <img
                  src="/assets/img/user2-160x160.jpg"
                  class="rounded-circle shadow"
                  alt="User Image"
                />
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2023</small>
                </p>
              </li>
              <li class="user-footer">
                <a href="#" class="btn btn-default">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
      <div class="sidebar-brand">
        <a href="./index.html" class="brand-link">
          <img
            src="/assets/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image opacity-75 shadow"
          />
          <span class="brand-text fw-light">AdminLTE 4</span>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <nav class="mt-2">
          <ul
            class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="menu"
            data-accordion="false"
          >
            <li class="nav-item">
              <a routerLink="/" class="nav-link">
                <span class="nav-icon material-symbols-outlined">
                  home
                  </span>
                <p>Home Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cargos" class="nav-link">
                <span class="nav-icon material-symbols-outlined">
                  local_shipping
                  </span>
                <p>Cargos</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <main class="app-main">
      <router-outlet/>
    </main>
    
    <footer class="app-footer text-center">
      <strong>
        {{ time() }}
      </strong>
    </footer>
  </div>